body {
  background: linear-gradient(to top right, #E50869 0%, #E50869 20%, #070068 50%, #070068 100%)
}
h1   {color: white;}
p    
{color: white;
font-size: 145%;
}
p
{ padding: 2px 4px;
}
*{
box-sizing: border-box;
}

.box {
float: left;
width: 50%;
padding: 50px;
}

.clearfix::after {
content: "";
clear: both;
display: table;
}
table, th, td {
border: 1px solid #000066;
border-collapse: collapse;
}